@import "compass/css3";

body{
  background: #ffffff;
  color: #FFF;
  font-family: 'Product Sans';
}

@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}


.skewed-bg{
  background: #f8f8f8 ;
  padding: 100px 0;
  @include transform(skew(0deg, -6deg));
  margin-top: 100px;


  .content{
    @include transform(skew(0deg, 5deg));
    text-align: center;

  }
}

.footer{
  @include transform(skew(0deg, 10deg));

}
